<h1>Stupid Coaching</h1>
<p>Ask your question to coach</p>
<form action="answer" method="get" data-turbo="false">
  <input id="question" type="text" name="question" placeholder="Ask your question?">
  <input type="submit" value="Ask!">
</form>
